<div qv-extension style="height: 100%; position: relative; overflow: auto;">
    <table>
        <thead>
            <tr>
                <th ng-repeat="head in table.headers track by $index"
                    class="{{head.qMeasureInfo.pTextAlign}} {{head.qDimensionInfo.pTextAlign}}"
                    ng-click="head.orderBy();">
                    {{head.qFallbackTitle}}
                </th>
            </tr>
            <tr class="totals" ng-show="layout.props.showTotals">
                <th colspan="{{layout.qHyperCube.qDimensionInfo.length}}" class="text-left">
                    {{layout.props.labelTotals}}
                </th>
                <th ng-repeat="total in table.totals" class="text-right">
                    {{total.qText}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in table.rows track by $index" ng-init="$rowIndex = $index">
                <td ng-repeat="cell in row.cells track by $index" ng-init="$colIndex = $index"
                    class="selectable {{cell.qMeasureInfo.pTextAlign}} {{cell.qDimensionInfo.pTextAlign}} {{cell.qMeasureInfo.pTextClass}} {{cell.qDimensionInfo.pTextClass}}
                    {{layout.qHyperCube.qDataPages[tableIndex[$rowIndex].page].qMatrix[tableIndex[$rowIndex].index][$colIndex].qAttrExps.qValues[0].qText}}"
                    ng-class="{'selected':cell.selected}">
                    <span ng-click="cell.select($event)">{{cell.qText}}</span>
                </td>
            </tr>
        </tbody>
    </table>
    <button ng-if="table.rowCount>table.rows.length" ng-click="table.getMoreData() && GetMoreData()" class="lui-button more">More...</button>
</div>